<footer>
    <hr>
    <p>
        Visit the Repo: 
        <a href="https://github.com/alegomonkey/WebserverMidterm" target="_blank">Github Webserver Midterm</a>
    </p>

    <p>
        By: Johnny Sylvain, 2025
    </p>
</footer>
