<nav>
    <a href="/">Home</a> |

    {{#if user.isLoggedIn}}
        <span>Welcome, {{user.name}}!</span> |
        <a href="/profile">Profile</a> |
        <a href="/comments">Comments</a> |
        <a href="/comment/new">New Comment</a> |
        <form method="POST" action="/logout" style="display:inline;">
            <button type="submit">Logout</button>
        </form>
    {{else}}
        <a href="/register">Register</a> |
        <a href="/login">Login</a>
    {{/if}}
</nav>
<hr>
